# Composer
composer.phar
vendor/

# NPM
node_modules/

# user-configured files
# PHPUnit
phpunit.xml
.phpunit.xml
.phpunit.cache
.phpunit.result.cache

# phpDocumentor
.phpdoc
phpdoc.xml
docs/build/
docs/cache/

# code coverage
coverage
coverage.*

# PHPActor LSP
.phpactor.json
